/* Estilos para la página del perfil */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f9fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: #508bbd;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-container {
    background-color: white;
    padding: 2rem;
    margin: auto;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-container h2 {
    color: #2980b9;
    text-align: center;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2980b9;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}

.logout-button, .inicio-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover, .inicio-button:hover {
    background-color: #c0392b;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 300;
}
